<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-xiaolong-xgpush" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-xiaolong-xgpush</name>
    <js-module name="XGPush" src="www/XGPush.js">
        <clobbers target="cordova.plugin.xiaolong.XGPush"/>
    </js-module>
    <preference name="android_id"/>
    <preference name="android_key"/>
    <preference name="hw_appId"/>
    <preference name="xiaomi_appId"/>
    <preference name="xiaomi_appKey"/>
    <preference name="ios_id"/>
    <preference name="ios_key"/>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="XGPush">
                <param name="ios-package" value="CDVXGPush"/>
            </feature>
            <preference name="ios_id" value="$IOS_ID"/>
            <preference name="ios_key" value="$IOS_KEY"/>
        </config-file>
        <framework src="CoreTelephony.framework"/>
        <framework src="SystemConfiguration.framework"/>
        <framework src="UserNotifications.framework"/>
        <framework src="libz.tbd"/>
        <framework src="libsqlite3.0.tbd"/>
        <framework custom="true" src="src/ios/sdk/libXG-SDK.a"/>
        <source-file src="src/ios/CDVXGPush.m"/>
        <source-file src="src/ios/sdk/XGPush.h"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="XGPush">
                <param name="android-package" value="cordova.plugin.xiaolong.xgpush.XGPushPlugin"/>
            </feature>
            <preference name="xiaomi_appId" value="$XIAOMI_APPID"/>
            <preference name="xiaomi_appKey" value="$XIAOMI_APPKEY"/>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data
                    android:name="XG_ACCESS_ID"
                    android:value="$ANDROID_ID"/>
            <meta-data
                    android:name="XG_ACCESS_KEY"
                    android:value="$ANDROID_KEY"/>
            <receiver android:name="cordova.plugin.xiaolong.xgpush.MessageReceiver"
                      android:exported="true" >
                <intent-filter>
                    <!-- 接收消息透传 -->
                    <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                    <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                    <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
                </intent-filter>
            </receiver>
            <receiver android:name="com.tencent.android.hwpush.HWPushMessageReceiver" >
                <intent-filter>
                    <!-- 必须,用于接收TOKEN -->
                    <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                    <!-- 必须，用于接收消息 -->
                    <action android:name="com.huawei.android.push.intent.RECEIVE" />
                    <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                    <action android:name="com.huawei.android.push.intent.CLICK" />
                    <!-- 可选，查看PUSH通道是否连接，不查看则不需要 -->
                    <action android:name="com.huawei.intent.action.PUSH_STATE" />
                </intent-filter>
            </receiver>
            <receiver
                    android:exported="true"
                    android:name="com.tencent.android.mipush.XMPushMessageReceiver">
                <intent-filter>
                    <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
                </intent-filter>
                <intent-filter>
                    <action android:name="com.xiaomi.mipush.ERROR" />
                </intent-filter>
            </receiver>
            <activity android:name="cordova.plugin.xiaolong.xgpush.NotifyOpenActivity">
                <intent-filter>
                    <action android:name="android.intent.action.VIEW" />

                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />

                    <data android:scheme="xgplugin" android:host="xiaolong.xg"
                          android:path="/notify"
                          tools:ignore="AppLinkUrlError" />
                </intent-filter>
            </activity>
        </config-file>
        <config-file parent="/manifest/application/activity[@android:name='.MainActivity']" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="xgpush.xiaolong.action.main"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </config-file>
        <source-file src="src/android/XGPushPlugin.java"
                     target-dir="src/cordova/plugin/xiaolong/xgpush"/>
        <source-file src="src/android/MessageReceiver.java"
                     target-dir="src/cordova/plugin/xiaolong/xgpush"/>
        <source-file src="src/android/HWReceiver.java"
                     target-dir="src/cordova/plugin/xiaolong/xgpush"/>
        <source-file src="src/android/NotifyOpenActivity.java"
                     target-dir="src/cordova/plugin/xiaolong/xgpush"/>
        <framework src="com.tencent.xinge:xinge:4.3.5-release" />
        <framework src="com.tencent.jg:jg:1.1" />
        <framework src="com.tencent.wup:wup:1.0.0.E-Release" />
        <framework src="com.tencent.mid:mid:4.0.7-Release" />

        <framework src="com.tencent.xinge:xghw:4.3.2-huawei-release" />
        <framework src="com.tencent.xinge:mipush:4.3.2-xiaomi-release"/>
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <hook type="after_plugin_add" src="hook/after_plugin_add" />
    </platform>
</plugin>
